body {
	background-color: #AAA;
	text-align: center;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 1.3em;
}

input {
	background-color: white;
	font-size: 6vw;
	width: 12vw;
	height:12vw;
	margin: 0;
	color: white;
}

#jogador {
	display: inline;
}

#reiniciar {
	margin-top: 2%;
	width: 10vw;
	height:6vw;
	font-size: 1em;
	color: black;
}
